{% load template_helper %}

<div class="mdui-table-fluid">
    <table class="mdui-table mdui-table-hoverable">
        <thead>
        <tr>
            <th>时间</th>
            <th>标题</th>
            <th>等级</th>
            <th>作者</th>
        </tr>
        </thead>
        <tbody>
        {% for post in post_list %}
            <tr>
                <td>{{ post.created_time | date:'Y-m-d' }}</td>
                <td>
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </td>
                <td>{{ post.get_level_display | post_tag }}</td>
                <td>
                    <a href="{{ post.author.get_absolute_url }}">{{ post.author.nickname | truncatechars:13 }}</a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
