{% load template_helper %}

<div class="mdui-table-fluid">
    <table class="mdui-table mdui-table-hoverable">
        <thead>
        <tr>
            <th>#</th>
            <th>昵称</th>
            <th>等级</th>
            <th>Rank</th>
        </tr>
        </thead>
        <tbody>
        {% for user in member_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    <a href="{{ user.get_absolute_url }}">{{ user.nickname }}</a>
                </td>
                <td>{{ user.get_level_display | whitehat_tag }}</td>
                <td>{{ user.rank }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>