{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}礼品列表{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/incontent.css' %}">
{% endblock %}

{% block body %}

    <div class="doc-chapter">

        <div class="mdui-typo">
            <h2 class="doc-article-title">礼品兑换</h2>
        </div>
        <div class="mdui-row-xs-2 mdui-row-sm-3 mdui-row-md-4 mdui-row-lg-4 mdui-row-xl-4 mdui-grid-list">
            {% for object in object_list %}
                <div class="mdui-col">
                    <div class="mdui-grid-tile">
                        <img src="{{ object.get_photo_url }}"/>
                        <div class="mdui-grid-tile-actions">
                            <div class="mdui-grid-tile-text">
                                <div class="mdui-grid-tile-title">{{ object.name }}</div>
                                <div class="mdui-grid-tile-subtitle">
                                    剩余 {{ object.amount }} / 单价 {{ object.price }}
                                </div>
                            </div>
                            <div class="mdui-grid-tile-buttons">
                                <a href="{{ object.get_absolute_url }}" class="mdui-btn mdui-btn-icon"><i
                                        class="mdui-icon material-icons">&#xe89e;</i></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% include 'archive/_pagination.html' %}
    </div>

{% endblock %}