{% extends 'base.html' %}

{% block title %}主页{% endblock %}

{% block body %}

    <div class="doc-chapter">

        <div class="mdui-typo">
            <h4 class="doc-article-title">最新贡献</h4>
        </div>
        {% include 'archive/_archive_list.html' %}
        <br><br>
        <div class="mdui-divider"></div>
        <div class="mdui-typo">
            <h4 class="doc-article-title">排行榜</h4>
        </div>
        {% include 'archive/_user_list.html' %}

    </div>
{% endblock %}