{% extends 'base.html' %}

{% block title %}我的订单列表{% endblock %}

{% block body %}

    <div class="doc-chapter">

        <div class="mdui-typo">
            <h4 class="doc-article-title">订单列表</h4>
        </div>
        <div class="mdui-table-fluid">
            <table class="mdui-table mdui-table-hoverable">
                <thead>
                <tr>
                    <td width="15%">时间</td>
                    <td>商品</td>
                    <td width="7%">价格</td>
                    <td width="7%">发货</td>
                </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                    <tr>
                        <td>{{ object.created_time | date:'Y-m-d H:i:s' }}</td>
                        <td>
                            <a href="{{ object.get_absolute_url }}">{{ object.gift.name }}</a>
                        </td>
                        <td>{{ object.cost }}</td>
                        <td>{{ object.delivery | yesno:'<span class="mdui-text-green">已发货</span>,<span class="mdui-text-red">未发货</span>' | safe }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

    </div>

    {% if is_paginated %}
        {% include 'archive/_pagination.html' %}
    {% endif %}
{% endblock %}