{% extends 'base.html' %}
{% load template_helper %}

{% block title %}我的贡献{% endblock %}

{% block body %}

    <div class="doc-chapter">

        <div class="mdui-typo">
            <h4 class="doc-article-title">我的贡献</h4>
        </div>

        <div class="mdui-table-fluid">
            <table class="mdui-table mdui-table-hoverable">
                <thead>
                <tr>
                    <th>时间</th>
                    <th>标题</th>
                    <th>等级</th>
                    <th>状态</th>
                </tr>
                </thead>
                <tbody>
                {% for post in post_list %}
                    <tr>
                        <td>{{ post.created_time | date:'Y-m-d' }}</td>
                        <td>
                            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                        </td>
                        <td>{{ post.get_level_display | post_tag }}</td>
                        <td>{{ post.get_verify_display }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

        {% if is_paginated %}
            {% include 'archive/_pagination.html' %}
        {% endif %}
    </div>

{% endblock %}