{% extends 'base.html' %}
{% load admin_helper %}
{% load template_helper %}

{% block title %}用户详情{% endblock %}

{% block body %}

    <div class="doc-chapter">

        <div class="mdui-typo mdui-clearfix">
            <div class="mdui-float-left">
                <h4 class="doc-article-title mdui-float-left">用户详情</h4>
            </div>
            <div class="mdui-float-right">
                <a class="mdui-btn mdui-color-theme-accent mdui-ripple"
                   href="{% url 'archive:profile-edit' %}">修改我的信息</a>
            </div>
        </div>

        <div class="mdui-row">
            <div class="mdui-col-xs-2 mdui-col-sm-2 mdui-p-y-2">昵称</div>
            <div class="mdui-col-xs-4 mdui-col-sm-4 mdui-p-y-2">{{ object.nickname }}</div>

            <div class="mdui-col-xs-2 mdui-col-sm-2 mdui-p-y-2">等级</div>
            <div class="mdui-col-xs-4 mdui-col-sm-4 mdui-p-y-2">{{ object.get_level_display | whitehat_tag }}</div>
        </div>
        <div class="mdui-row">
            <div class="mdui-col-xs-2 mdui-col-sm-2 mdui-p-y-2">邮箱</div>
            <div class="mdui-col-xs-4 mdui-col-sm-4 mdui-p-y-2">{{ object.email }}</div>

            <div class="mdui-col-xs-2 mdui-col-sm-2 mdui-p-y-2">经验值</div>
            <div class="mdui-col-xs-4 mdui-col-sm-4 mdui-p-y-2 mdui-m-y-1">
                <div class="mdui-progress">
                    <div class="mdui-progress-determinate" style="width: {{ object.rank | level_progress_bar }}%"></div>
                </div>
            </div>
        </div>

        <div class="mdui-row">
            <div class="mdui-col-xs-2 mdui-col-sm-2 mdui-p-y-2">贡献数量</div>
            <div class="mdui-col-xs-4 mdui-col-sm-4 mdui-p-y-2">{{ object.author_post.count }} 个</div>

            <div class="mdui-col-xs-2 mdui-col-sm-2 mdui-p-y-2">Rank</div>
            <div class="mdui-col-xs-4 mdui-col-sm-4 mdui-p-y-2">{{ object.rank }}</div>
        </div>
        <div class="mdui-row">
            <div class="mdui-col-xs-2 mdui-col-sm-2 mdui-p-y-2">注册时间</div>
            <div class="mdui-col-xs-4 mdui-col-sm-4 mdui-p-y-2">
                <time title="{{ object.date_joined | date:"Y-m-d H:i:s" }}">{{ object.date_joined | timesince }} 前
                </time>
            </div>

            <div class="mdui-col-xs-2 mdui-col-sm-2 mdui-p-y-2">最后登录时间</div>
            <div class="mdui-col-xs-4 mdui-col-sm-4 mdui-p-y-2">
                <time title="{{ object.last_login | date:"Y-m-d H:i:s" }}">{{ object.last_login | timesince }} 前</time>
            </div>
        </div>
        <div class="mdui-row">
            <div class="mdui-col-xs-2 mdui-col-sm-2 mdui-p-y-2">金币</div>
            <div class="mdui-col-xs-4 mdui-col-sm-4 mdui-p-y-2">{{ object.coin }} 个</div>
        </div>


        <div class="mdui-table-fluid">
            <table class="mdui-table mdui-table-hoverable">
                <thead>
                <tr>
                    <th>时间</th>
                    <th>变化</th>
                    <th>变化后金币数</th>
                    <th>操作人</th>
                    <th>说明</th>
                </tr>
                </thead>
                <tbody>
                {% for log in object_list %}
                    <tr>
                        <td>{{ log.created_time | date:"Y-m-d H:i:s" }}</td>
                        <td>
                            {% if log.coin >= 0 %}
                                增加 {{ log.coin }} 个
                            {% else %}
                                减少 {{ log.coin | absolute }}个
                            {% endif %}
                        </td>
                        <td>{{ log.rest }}</td>
                        <td>{{ log.admin.nickname | default:"系统" }}</td>
                        <td>{{ log.message | default:"无说明" }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>


    </div>


{% endblock %}