{% extends 'base.html' %}
{% load template_helper %}

{% block title %}{{ member.nickname }} 的个人中心{% endblock %}

{% block body %}

    <div class="profile-card mdui-shadow-5 mdui-color-grey-300">

        <div class="mdui-row">
            <div class="mdui-col-xs-12">
                <div class="mdui-row">
                    <div class="mdui-col-xs-2 mdui-col-sm-2 mdui-valign">
                        <div class="profile-avatar mdui-center">
                            <img class="mdui-img-circle mdui-center" src="{{ member.get_mugshot_url }}" width="100" height="100"/>
                            {% if request.user.id == member.id %}
                                <br/>
                                <a class="mdui-btn mdui-color-theme-accent mdui-ripple mdui-btn-block" href="{% url 'archive:profile-edit' %}">修改我的信息</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="mdui-col-xs-8 mdui-col-sm-8">
                        <div class="profile-header">
                            <div class="mdui-typo-headline mdui-p-x-3">About {{ member.nickname }}</div>
                        </div>
                        <div class="profile-details">
                            <div class="profile-details-intro mdui-typo">
                                <blockquote>
                                    <p>{{ member.description | default:'这个人很懒，没有什么简介。' }}</p>
                                    <footer>{{ member.nickname }} ——安全盒子</footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <div class="mdui-col-xs-2 mdui-col-sm-2">
                        <div class="profile-actions mdui-typo mdui-p-t-2">
                            <ul>
                                <li class="mdui-typo-subheading mdui-p-y-1">Rank： {{ member.rank }}</li>
                                <li class="mdui-typo-subheading mdui-p-y-1">等级： {{ member.get_level_display | whitehat_tag }}</li>
                                <li class="mdui-typo-subheading mdui-p-y-1">贡献数： {{ member.author_post.count }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="mdui-table-fluid">
        <table class="mdui-table mdui-table-hoverable">
            <thead>
            <tr>
                <th>时间</th>
                <th>标题</th>
                <th>等级</th>
                <th>Rank</th>
            </tr>
            </thead>
            <tbody>
            {% for post in post_list %}
                <tr>
                    <td>{{ post.created_time | date:'Y-m-d' }}</td>
                    <td>
                        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                    </td>
                    <td>{{ post.get_level_display | post_tag }}</td>
                    <td>{{ post.rank }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

    {% if is_paginated %}
        <div class="am-panel-footer">
            {% include 'archive/_pagination.html' %}
        </div>
    {% endif %}
{% endblock %}