{% extends 'base.html' %}

{% block title %}用户排行榜{% endblock %}

{% block body %}
    <div class="doc-chapter">

        <div class="mdui-typo">
            <h2 class="doc-article-title">贡献列表</h2>
        </div>
        {% include 'archive/_user_list.html' %}
        {% if is_paginated %}
            {% include 'archive/_pagination.html' %}
        {% endif %}
    </div>
{% endblock %}