{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ website.description }}">
    <meta name="keywords" content="{{ website.keyword }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{% block title %}{% endblock %} | {{ website.title }}</title>
    <link rel="icon" type="image/ico" href="{% static 'img/main.ico' %}">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="{{ website.title }}"/>
    <link rel="stylesheet" href="{% static 'assets/css/mdui.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/mooder.css' %}">
    {% block header %}{% endblock %}
</head>

<body class="mdui-drawer-body-left mdui-appbar-with-toolbar mdui-theme-primary-indigo mdui-theme-accent-pink mdui-bottom-nav-fixed ">
<header class="mdui-appbar mdui-appbar-fixed">
    <div class="mdui-toolbar mdui-color-theme">
        <span class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white" mdui-drawer="{target: '#main-drawer'}"><i
                class="mdui-icon material-icons">&#xe5d2;</i></span>
        <a href="/" class="mdui-typo-headline mdui-hidden-xs">{{ website.title }}</a>
        <a href="/add" class="mdui-typo-title">提交贡献</a>
        <div class="mdui-toolbar-spacer"></div>
        <span class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white" mdui-dialog="{target: '#dialog-docs-theme'}"><i
                class="mdui-icon material-icons">&#xe3b7;</i></span>
        <span class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white"
              mdui-menu="{target: '#header-menu', fixed: true}"><i class="mdui-icon material-icons">&#xe5d4;</i></span>
        <ul class="mdui-menu" id="header-menu">
            <li class="mdui-menu-item">
                <a href="http://www.secbox.cn/" class="mdui-ripple">团队主站</a>
            </li>
            <li class="mdui-menu-item">
                <a href="https://github.com/phith0n/mooder" target="_blank" class="mdui-ripple">本项目Github</a>
            </li>
            <li class="mdui-menu-item">
                <a href="https://phith0n.github.io/mooder/" target="_blank" class="mdui-ripple">Mooder文档</a>
            </li>
        </ul>
    </div>
</header>

<div class="mdui-drawer" id="main-drawer">
    <div class="mdui-list" mdui-collapse="{accordion: true}" style="margin-bottom: 76px;">
        <div class="mdui-collapse-item mdui-collapse-item-open ">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-blue">&#xe569;</i>
                <div class="mdui-list-item-content">主要功能</div>
                <i class="mdui-collapse-item-arrow mdui-icon material-icons">&#xe313;</i>
            </div>
            <div class="mdui-collapse-item-body mdui-list">
                <a class="mdui-list-item mdui-ripple {% if view.name == 'archive:index' %}mdui-list-item-active{% endif %} "
                   href="{% url 'archive:index' %}">主页</a>
                <a class="mdui-list-item mdui-ripple {% if view.name == 'archive:add' %}mdui-list-item-active{% endif %} "
                   href="{% url 'archive:add' %}">提交贡献</a>
                <a class="mdui-list-item mdui-ripple {% if view.name == 'archive:list' %}mdui-list-item-active{% endif %} "
                   href="{% url 'archive:list' %}">贡献列表</a>
                <a class="mdui-list-item mdui-ripple {% if view.name == 'archive:user' %}mdui-list-item-active{% endif %} "
                   href="{% url 'archive:user' %}">排行榜</a>
                <a class="mdui-list-item mdui-ripple {% if view.name == 'archive:shop' %}mdui-list-item-active{% endif %} "
                   href="{% url 'archive:shop' %}">礼品中心</a>
            </div>
        </div>

        <div class="mdui-collapse-item ">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-green">&#xe7fd;</i>
                <div class="mdui-list-item-content">关于我</div>
                <i class="mdui-collapse-item-arrow mdui-icon material-icons">&#xe313;</i>
            </div>
            <div class="mdui-collapse-item-body mdui-list">
                <a href="{% url 'archive:profile-me' %}" class="mdui-list-item mdui-ripple ">个人主页</a>
                <a href="{% url 'archive:profile-post' %}" class="mdui-list-item mdui-ripple ">我的贡献</a>
                <a href="{% url 'archive:profile-detail' %}" class="mdui-list-item mdui-ripple ">我的资料</a>
                <a href="{% url 'archive:profile-order' %}" class="mdui-list-item mdui-ripple ">订单列表</a>
            </div>
        </div>

        <div class="mdui-collapse-item ">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-brown">&#xe8eb;</i>
                <div class="mdui-list-item-content">内部应用</div>
                <i class="mdui-collapse-item-arrow mdui-icon material-icons">&#xe313;</i>
            </div>
            <div class="mdui-collapse-item-body mdui-list">
                <a href="#" class="mdui-list-item mdui-ripple ">暂无</a>
                <a href="#" class="mdui-list-item mdui-ripple ">暂无</a>
            </div>
        </div>
        {% if request.user.is_auditor or request.user.is_staff %}
            <div class="mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-teal">&#xe7ff;</i>
                <div class="mdui-list-item-content"><a href="{% url 'management-index' %}">后台管理</a></div>
            </div>
        {% endif %}
        <div class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-deep-orange">&#xe879;</i>
            <div class="mdui-list-item-content"><a href="{% url 'logout' %}">退出</a></div>
        </div>

    </div>
</div>

<a id="anchor-top"></a>
<div class="mdui-container doc-container doc-no-cover">
{#    <h1 class="doc-title mdui-text-color-theme">{{ website.title }}</h1>#}
    {% block body %}
    {% endblock %}
</div>


<div class="doc-footer-nav mdui-color-theme mdui-bottom-nav mdui-bottom-nav-scroll-hide">
    <div class="mdui-container">
        <div class="mdui-row">
            <div class="mdui-ripple mdui-col-xs-12 mdui-col-sm-12">
                <div class="doc-footer-nav-text">
                    <div class="doc-footer-icon"><i class="mdui-icon material-icons">&#xe90c;</i></div>
                    <div class="doc-footer-copyright-copyright-group">
                        <div class="doc-footer-copyright-text">
                            <span class="doc-footer-nav-direction">Copyright &copy; since 2015 <a
                                    href="http://www.secbox.cn/" class="mdui-text-color-white">Secbox.cn</a></span>
                        </div>
                        <div class="doc-footer-copyright-text">
                            <span class="doc-footer-nav-direction">Using <a href="mooder" class="mdui-text-color-white">mooder</a> for creation, under LGPL v3 License.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mdui-dialog" id="dialog-docs-theme">
    <div class="mdui-dialog-title">设置主题</div>
    <div class="mdui-dialog-content">

        <p class="mdui-typo-title">主题色</p>
        <div class="mdui-row-xs-1 mdui-row-sm-2 mdui-row-md-3">
            <div class="mdui-col">
                <label class="mdui-radio mdui-m-b-1">
                    <input type="radio" name="doc-theme-layout" value="" checked/>
                    <i class="mdui-radio-icon"></i>
                    Light
                </label>
            </div>
            <div class="mdui-col">
                <label class="mdui-radio mdui-m-b-1">
                    <input type="radio" name="doc-theme-layout" value="dark"/>
                    <i class="mdui-radio-icon"></i>
                    Dark
                </label>
            </div>
        </div>

        <p class="mdui-typo-title mdui-text-color-theme">主色</p>
        <form class="mdui-row-xs-1 mdui-row-sm-2 mdui-row-md-3">
            <div class="mdui-col mdui-text-color-amber">
                <label class="mdui-radio mdui-m-b-1">
                    <input type="radio" name="doc-theme-primary" value="amber"/>
                    <i class="mdui-radio-icon"></i>
                    Amber
                </label>
            </div>
            <div class="mdui-col mdui-text-color-blue">
                <label class="mdui-radio mdui-m-b-1">
                    <input type="radio" name="doc-theme-primary" value="blue"/>
                    <i class="mdui-radio-icon"></i>
                    Blue
                </label>
            </div>
            <div class="mdui-col mdui-text-color-blue-grey">
                <label class="mdui-radio mdui-m-b-1">
                    <input type="radio" name="doc-theme-primary" value="blue-grey"/>
                    <i class="mdui-radio-icon"></i>
                    Blue Grey
                </label>
            </div>
            <div class="mdui-col mdui-text-color-brown">
                <label class="mdui-radio mdui-m-b-1">
                    <input type="radio" name="doc-theme-primary" value="brown"/>
                    <i class="mdui-radio-icon"></i>
                    Brown
                </label>
            </div>
            <div class="mdui-col mdui-text-color-cyan">
                <label class="mdui-radio mdui-m-b-1">
                    <input type="radio" name="doc-theme-primary" value="cyan"/>
                    <i class="mdui-radio-icon"></i>
                    Cyan
                </label>
            </div>
            <div class="mdui-col mdui-text-color-deep-orange">
                <label class="mdui-radio mdui-m-b-1">
                    <input type="radio" name="doc-theme-primary" value="deep-orange"/>
                    <i class="mdui-radio-icon"></i>
                    Deep Orange
                </label>
            </div>
            <div class="mdui-col mdui-text-color-deep-purple">
                <label class="mdui-radio mdui-m-b-1">
                    <input type="radio" name="doc-theme-primary" value="deep-purple"/>
                    <i class="mdui-radio-icon"></i>
                    Deep Purple
                </label>
            </div>
            <div class="mdui-col mdui-text-color-green">
                <label class="mdui-radio mdui-m-b-1">
                    <input type="radio" name="doc-theme-primary" value="green"/>
                    <i class="mdui-radio-icon"></i>
                    Green
                </label>
            </div>
            <div class="mdui-col mdui-text-color-grey">
                <label class="mdui-radio mdui-m-b-1">
                    <input type="radio" name="doc-theme-primary" value="grey"/>
                    <i class="mdui-radio-icon"></i>
                    Grey
                </label>
            </div>
            <div class="mdui-col mdui-text-color-indigo">
                <label class="mdui-radio mdui-m-b-1">
                    <input type="radio" name="doc-theme-primary" value="indigo" checked/>
                    <i class="mdui-radio-icon"></i>
                    Indigo
                </label>
            </div>
            <div class="mdui-col mdui-text-color-light-blue">
                <label class="mdui-radio mdui-m-b-1">
                    <input type="radio" name="doc-theme-primary" value="light-blue"/>
                    <i class="mdui-radio-icon"></i>
                    Light Blue
                </label>
            </div>
            <div class="mdui-col mdui-text-color-light-green">
                <label class="mdui-radio mdui-m-b-1">
                    <input type="radio" name="doc-theme-primary" value="light-green"/>
                    <i class="mdui-radio-icon"></i>
                    Light Green
                </label>
            </div>
            <div class="mdui-col mdui-text-color-lime">
                <label class="mdui-radio mdui-m-b-1">
                    <input type="radio" name="doc-theme-primary" value="lime"/>
                    <i class="mdui-radio-icon"></i>
                    Lime
                </label>
            </div>
            <div class="mdui-col mdui-text-color-orange">
                <label class="mdui-radio mdui-m-b-1">
                    <input type="radio" name="doc-theme-primary" value="orange"/>
                    <i class="mdui-radio-icon"></i>
                    Orange
                </label>
            </div>
            <div class="mdui-col mdui-text-color-pink">
                <label class="mdui-radio mdui-m-b-1">
                    <input type="radio" name="doc-theme-primary" value="pink"/>
                    <i class="mdui-radio-icon"></i>
                    Pink
                </label>
            </div>
            <div class="mdui-col mdui-text-color-purple">
                <label class="mdui-radio mdui-m-b-1">
                    <input type="radio" name="doc-theme-primary" value="purple"/>
                    <i class="mdui-radio-icon"></i>
                    Purple
                </label>
            </div>
            <div class="mdui-col mdui-text-color-red">
                <label class="mdui-radio mdui-m-b-1">
                    <input type="radio" name="doc-theme-primary" value="red"/>
                    <i class="mdui-radio-icon"></i>
                    Red
                </label>
            </div>
            <div class="mdui-col mdui-text-color-teal">
                <label class="mdui-radio mdui-m-b-1">
                    <input type="radio" name="doc-theme-primary" value="teal"/>
                    <i class="mdui-radio-icon"></i>
                    Teal
                </label>
            </div>
            <div class="mdui-col mdui-text-color-yellow">
                <label class="mdui-radio mdui-m-b-1">
                    <input type="radio" name="doc-theme-primary" value="yellow"/>
                    <i class="mdui-radio-icon"></i>
                    Yellow
                </label>
            </div>
        </form>

        <p class="mdui-typo-title mdui-text-color-theme-accent">强调色</p>
        <form class="mdui-row-xs-1 mdui-row-sm-2 mdui-row-md-3">
            <div class="mdui-col mdui-text-color-amber">
                <label class="mdui-radio mdui-m-b-1">
                    <input type="radio" name="doc-theme-accent" value="amber"/>
                    <i class="mdui-radio-icon"></i>
                    Amber
                </label>
            </div>
            <div class="mdui-col mdui-text-color-blue">
                <label class="mdui-radio mdui-m-b-1">
                    <input type="radio" name="doc-theme-accent" value="blue"/>
                    <i class="mdui-radio-icon"></i>
                    Blue
                </label>
            </div>
            <div class="mdui-col mdui-text-color-cyan">
                <label class="mdui-radio mdui-m-b-1">
                    <input type="radio" name="doc-theme-accent" value="cyan"/>
                    <i class="mdui-radio-icon"></i>
                    Cyan
                </label>
            </div>
            <div class="mdui-col mdui-text-color-deep-orange">
                <label class="mdui-radio mdui-m-b-1">
                    <input type="radio" name="doc-theme-accent" value="deep-orange"/>
                    <i class="mdui-radio-icon"></i>
                    Deep Orange
                </label>
            </div>
            <div class="mdui-col mdui-text-color-deep-purple">
                <label class="mdui-radio mdui-m-b-1">
                    <input type="radio" name="doc-theme-accent" value="deep-purple"/>
                    <i class="mdui-radio-icon"></i>
                    Deep Purple
                </label>
            </div>
            <div class="mdui-col mdui-text-color-green">
                <label class="mdui-radio mdui-m-b-1">
                    <input type="radio" name="doc-theme-accent" value="green"/>
                    <i class="mdui-radio-icon"></i>
                    Green
                </label>
            </div>
            <div class="mdui-col mdui-text-color-indigo">
                <label class="mdui-radio mdui-m-b-1">
                    <input type="radio" name="doc-theme-accent" value="indigo"/>
                    <i class="mdui-radio-icon"></i>
                    Indigo
                </label>
            </div>
            <div class="mdui-col mdui-text-color-light-blue">
                <label class="mdui-radio mdui-m-b-1">
                    <input type="radio" name="doc-theme-accent" value="light-blue"/>
                    <i class="mdui-radio-icon"></i>
                    Light Blue
                </label>
            </div>
            <div class="mdui-col mdui-text-color-light-green">
                <label class="mdui-radio mdui-m-b-1">
                    <input type="radio" name="doc-theme-accent" value="light-green"/>
                    <i class="mdui-radio-icon"></i>
                    Light Green
                </label>
            </div>
            <div class="mdui-col mdui-text-color-lime">
                <label class="mdui-radio mdui-m-b-1">
                    <input type="radio" name="doc-theme-accent" value="lime"/>
                    <i class="mdui-radio-icon"></i>
                    Lime
                </label>
            </div>
            <div class="mdui-col mdui-text-color-orange">
                <label class="mdui-radio mdui-m-b-1">
                    <input type="radio" name="doc-theme-accent" value="orange"/>
                    <i class="mdui-radio-icon"></i>
                    Orange
                </label>
            </div>
            <div class="mdui-col mdui-text-color-pink">
                <label class="mdui-radio mdui-m-b-1">
                    <input type="radio" name="doc-theme-accent" value="pink" checked/>
                    <i class="mdui-radio-icon"></i>
                    Pink
                </label>
            </div>
            <div class="mdui-col mdui-text-color-purple">
                <label class="mdui-radio mdui-m-b-1">
                    <input type="radio" name="doc-theme-accent" value="purple"/>
                    <i class="mdui-radio-icon"></i>
                    Purple
                </label>
            </div>
            <div class="mdui-col mdui-text-color-red">
                <label class="mdui-radio mdui-m-b-1">
                    <input type="radio" name="doc-theme-accent" value="red"/>
                    <i class="mdui-radio-icon"></i>
                    Red
                </label>
            </div>
            <div class="mdui-col mdui-text-color-teal">
                <label class="mdui-radio mdui-m-b-1">
                    <input type="radio" name="doc-theme-accent" value="teal"/>
                    <i class="mdui-radio-icon"></i>
                    Teal
                </label>
            </div>
            <div class="mdui-col mdui-text-color-yellow">
                <label class="mdui-radio mdui-m-b-1">
                    <input type="radio" name="doc-theme-accent" value="yellow"/>
                    <i class="mdui-radio-icon"></i>
                    Yellow
                </label>
            </div>
        </form>

    </div>
    <div class="mdui-divider"></div>
    <div class="mdui-dialog-actions">
        <button class="mdui-btn mdui-ripple mdui-float-left" mdui-dialog-cancel>恢复默认主题</button>
        <button class="mdui-btn mdui-ripple" mdui-dialog-confirm>ok</button>
    </div>
</div>

<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/holder.min.js' %}"></script>
<script src="{% static 'assets/js/highlight.pack.js' %}"></script>
<script src="{% static 'assets/js/mdui.js' %}"></script>
<script src="{% static 'assets/js/mooder.js' %}"></script>
{% block footer %}{% endblock %}
</body>
</html>